// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/chart/chart";

@import "../pages/item-details/item-details";

.toolbar-client {
    float:right;
    cursor:pointer;
}

.item {
    padding-left:0;
}

.statement-item-right {
    float:right;
}